<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quantum Endeavors</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div id="pageWrap">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""></a>
	</div>

	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="coaches.html">Coaches</a></li>
			<li><a href="ezine.html">E-Zine</a></li>
			<li><a href="events.html">Events</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>


	<footer>
		<a href="index.html">Home</a> | <a href="contact.html">Contact Us</a>
		| <a href="privacy.html">Privacy Policy<a/><br>
		<p>Copyright &copy; 2006-2018 Quantum Endeavors Inc. All rights reserved.</p>
	</footer>

</div> <!-- ends pageWrap -->
</body>
</html>
